<template>
    <div class="content pt-5">
        <div
            class="actions px-5 mb-5 flex flex-nowrap"
            :style="{ transform: `translate(${transformPercentage}%, 0)` }"
        >
            <button
                v-for="step in steps"
                class="flex-1"
                :class="isSelected(step) ? 'selectedbutton' : null"
                @click="select(step)"
            >
                {{ step }}
            </button>
        </div>
        <Group1 :active="isSelected('Arbeitnehmer')" />
        <Group2 :active="isSelected('Arbeitgeber')" />
        <Group3 :active="isSelected('Temporärbüro')" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({

    data() {
        return {
            steps: ["Arbeitnehmer", "Arbeitgeber", "Temporärbüro"],
            active: "Arbeitnehmer",
            transformPercentage: 0
        } 
    },
    methods: {
        isSelected(name: string): boolean {
            return this.active === name;
        },
        select(name: string) {
            const index = this.steps.indexOf(name);
            if (index === -1) {
                throw new Error('Invalid step name');
            }
            this.active = name;
            if (window.screen.width > 546) {
                return;
            }
            switch (index) {
                case 0:
                    this.transformPercentage = 0;
                    break;
                case 1:
                    this.transformPercentage = -25;
                    break;
                case 2:
                    this.transformPercentage = -50;
                    break;
            }
        }
    },
});
</script>