html, body {
    height: 100%;
    width: 100%;
}

$topbarHeight: 67px;
$bottombarHeight: 88px;
$background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
$step2Background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;

.topbar {
    height: $topbarHeight;
    /* bg color and rounded border */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 12px 12px;
    /* top gradient */
    border-top: 5px solid;
    border-image: linear-gradient(91deg, #319795 0%, #3182CE 100%);
    border-image-slice: 1;
    opacity: 1;
    /* stick to the top */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.topbar button {
    color: #319795;
    font-family: Lato;
    font-size: 0.875rem;
    line-height: 1.06rem;
    font-weight: 600;
    letter-spacing: 0.84px;
}

.bottombar {
    height: $bottombarHeight;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 3px #00000033;
    border-radius: 12px 12px 0px 0px;
    opacity: 1;

    z-index: 1000;
}

.bottombar button {
    height: 40px;
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    /* text properties */
    text-align: center;
    font-family: Lato;
    font-size: 0.875rem;
    line-height: 1.06rem;
    font-weight: 600;
    letter-spacing: 0.84px;
    color: #E6FFFA;
}

.bottombar button:hover {
    background: transparent linear-gradient(95deg, #2C7A7B 0%, #2B6CB0 100%) 0% 0% no-repeat padding-box;
}

.bottombar button:active {
    background: transparent linear-gradient(95deg, #285E61 0%, #2C5282 100%) 0% 0% no-repeat padding-box;
    border: 2px solid #2B6CB0;
}

.main {
    padding-top: $topbarHeight;
    height: 680px;
    overflow: hidden;
}

.waves-bg {
    height: 570px;
    background: $background;
    opacity: 1;
    display: block;
    position: relative;
}

.waves-bg:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    background-color: white;
    //background-color: red;

    // Case #1 (fixed)
    // width: 585px;
    // height: 400px;
    // right: -69%;
    // top: 521px;

    // Case #2
    // width: 585px;
    // height: 400px;
    // right: -69%;
    // top: 530px;

    // Case #3
    // width: 100%;
    // height: 150px;
    // right: -24%;
    // top: 550px;

    // Case #4
    // width: 100%;
    // height: 246px;
    // right: -30%;
    // top: 522px;

    // Case #5 (responsive)
    width: 161%;
    height: 480px;
    right: -68%;
    top: 512px;
}

.waves-bg:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    background: $background;
    //background-color: yellow;

    // Case #1 (fixed)
    // width: 280px;
    // height: 200px;
    // left: -28%;
    // top: 390px;

    // Case #2
    // width: 280px;
    // height: 280px;
    // left: -23%;
    // top: 316px;

    // Case #3
    // width: 100%;
    // height: 100px;
    // left: -56%;
    // top: 499px;

    // Case #4
    // width: 100%;
    // height: 250px;
    // left: -40%;
    // top: 345px;

    // Case #5 (responsive)
    width: 77.8%;
    height: 200px;
    left: -28%;
    top: 391px;
}

.maintext {
     /* text properties */
    text-align: center;
    font-family: Lato;
    font-size: 2.625rem;
    line-height: 3.125rem;
    letter-spacing: 1.26px;
    color: #2D3748;
    opacity: 1;
}

.pitch {
    display: block;
    background: transparent url('~/assets/img/undraw_agreement_aajr.svg') center 0% no-repeat padding-box;
    background-position-x: center;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.content {
    overflow: hidden;
    padding-bottom: calc($bottombarHeight + 30px);
}

.actions {
    width: 100vw;
    transition: transform 0.3s linear;
}

.actions button {
    padding-left: 2.3rem;
    padding-right: 2.3rem; 
    /* Button */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBD5E0;
    height: 40px;
    /* Font properties */
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.06rem;
    font-weight: 600;
    letter-spacing: 0.84px;
    color: #319795;
    opacity: 1;
}

.actions button:first-of-type {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 12px 0px 0px 12px;
}

.actions button:last-of-type {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 12px 12px 0px;
}

.selectedbutton {
    color: #E6FFFA !important;
    background: #81E6D9 0% 0% no-repeat padding-box !important;
}

.group-title {
    text-align: center;
    font-family: 'Lato';
    font-size: 1.3125rem;
    line-height: 1.5625rem;
    font-weight: medium;
    letter-spacing: 0px;
    color: #4A5568;
    opacity: 1;
}

.step-digit {
    font-family: 'Lato';
    font-size: 8.125rem;
    line-height: 9.75rem;
    letter-spacing: 0px;
    color: #718096;
    opacity: 1;
}

.step-text {
    text-align: left;
    font-family: 'Lato';
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.47px;
    color: #718096;
    opacity: 1;
    padding-bottom: 1.625rem;
    padding-left: 1.25rem;
}

.step3 .step-text {
    padding-bottom: 3rem;
}

.step1 {
    background: transparent url('~/assets/img/undraw_Profile_data_re_v81r.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position-x: 90%;
}

.circle-bg {
    background: #F7FAFC 0% 0% no-repeat padding-box;
    //background: red 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    z-index: -5;

    width: 208px;
    height: 208px;
    margin-left: -34px;
    margin-top: 50px;

    // Case #2
    height: 224px;
    width: 224px;
    margin-top: 50px;
    margin-left: -34px;
}

.step3 .circle-bg {
    height: 303px;
    width: 303px;
    margin-top: 0px;
    margin-left: -56px;
}

.group2 .step3 .circle-bg, .group3 .step3 .circle-bg {
    z-index: 1;
}

.step-container {
    /* or  pl-2.5 pt-20 */
    position: relative;
    top: 5rem;
    //left: 1.25rem;
    padding-left: 1.25rem;
    float: left;
}

.img11 {
    background: transparent url('~/assets/img/undraw_Profile_data_re_v81r.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    max-height: 145px;
}

.step2-container {
    overflow: hidden;
    min-height: 370px;
}

.step2 {
    background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 350px;
}

.step2-circles {
    position: relative;
}

.step2-circle1::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    background-color: white;

    // Case #1
    width: 30%;
    height: 60px;
    right: 39%;
    top: -47px;
    z-index: 15;
}

.step2-circle1::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    background: $step2Background;
    z-index: -15;

    // Case #1
    width: 135%;
    height: 600px;
    left: -63%;
    top: -29px;
}

.step2-circle2::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    background: $step2Background;
    z-index: -10;
    // Case #1
    width: 135%;
    height: 400px;
    right: -60%;
    top: -28px;
}

.group2 .step2 {
    min-height: 370px;
}

.img12 {
    background: transparent url('~/assets/img/undraw_task_31wc.svg') 63% 70% no-repeat padding-box;
    //height: 370px;
    height: 100%;
}

.img32 {
    background: transparent url('img/undraw_job_offers_kw5d.svg') 60% 65% no-repeat padding-box;
    height: 370px;
}


.step3 {
    min-height: 327px;
}

.group1 .step3 {
    background: transparent url('~/assets/img/undraw_personal_file_222m.svg') 90% 98% no-repeat padding-box;
    opacity: 1;
}

.group2 .step3 {
    min-height: 370px;
}

.group3 .step3 {
    min-height: 400px;
}

.img22 {
    background: transparent url('img/undraw_about_me_wa29.svg') 0% 0% no-repeat padding-box;
    //background: red 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 0;
    height: 180px;
    width: 259px;
    position: absolute;
    margin-top: 100px;
    margin-left: 59px;
}

.img23 {
    background: transparent url('~/assets/img/undraw_swipe_profiles1_i6mr.svg') 60px 20px no-repeat padding-box;
    height: 197px;
}

.img33 {
    background: transparent url('~/assets/img/undraw_business_deal_cpi9.svg') 50% 0px no-repeat padding-box;
    height: 190px;
}