<template>
    <div>
        <TopBar />
        <Main />
        <Content />
        <BottomBar />
        
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage'
})
</script>
